.container{
    display: flex;
    gap: 100px;
}

.textContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.imgContainer {
    flex: 1;
    position: relative;
}

.title{
    color:var(--btn1);
    font-size: 54px;
}

.desc{
    font-size: 20px;
    font-weight: 300;
}

.img{
    object-fit: contain;
}

@media (max-width: 760px){
    .container{
        flex-direction: column;
        text-align: center;
    }
}